* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans Expanded", sans-serif;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 72%;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 57%;
    }
}
