:root {
    --primary: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 20rem;
}

.navbar__logo {
    font-size: 3rem;
    color: var(--primary);
}

.navbar a {
    color: var(--primary);
    text-decoration: none;
}

.navbar__links {
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.navbar__contact {
    background-image: linear-gradient(to right bottom, #66a6ff, #009efd);
    padding: 1.1rem 1.4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}
