.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.services__heading {
    font-size: 3.6rem;
}

.services__container {
    display: flex;
    justify-content: space-between;
    margin: 5rem 20rem 0;
    overflow-x: visible;
}

.services__card {
    background-color: #f5f5f5;
    padding: 5rem;
    border-radius: 15px;
    width: 31%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.services__card:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.services__card--heading {
    margin: 1rem auto;
}

.services__image {
    width: 15rem;
}

@media screen and (max-width: 850px) {
    .services {
        justify-content: flex-start;
        height: max-content;
    }

    .services__heading {
        margin: 4rem auto;
    }

    .services__container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .services__card {
        width: 60%;
        margin-bottom: 5rem;
    }

    .services__card:last-child {
        margin-bottom: 10rem;
    }

    .services__card--heading {
        font-size: 2rem;
    }

    .services__image {
        width: 60%;
    }
}

@media screen and (max-width: 570px) {
    .services__heading {
        font-size: 2.8rem;
    }

    .services__card {
        width: 80%;
    }
}
