:root {
    --primary: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 20rem;
}

.navbar__logo {
    font-size: 3rem;
    color: var(--primary);
}

.navbar a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.navbar__links {
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.navbar__contact {
    background-image: linear-gradient(to right bottom, #009efd, #2575fc);
    padding: 1.1rem 1.5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.navbar__contact:hover {
    transform: scale(1.1);
}

.navbar__contact:active {
    transform: translateY(1px);
}

@media screen and (max-width: 1200px) {
    .navbar {
        padding: 2.5rem 10rem;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        display: block;
        padding: 5rem 0;
    }

    .navbar__links,
    .navbar__contact {
        display: none;
    }
}
